h1 {
  color: red;
}

h4 {
    color: #6c757d;
    padding-left: 20px;
}

.form-container {
  background-color: #fdf0e0;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid #eee;
}

.carousel-image-fixed-size {
  max-height: 600px;
  width: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mission-logo {
    height: 40px;
    width: auto;
}

.table {
    margin-top: 20px;
}
.table td {
    vertical-align: middle;
}