{% extends "base.html" %}

{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}<br>
            {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else ""), type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.password_again.label(class="form-label") }}<br>
            {{ form.password_again(class="form-control" + (" is-invalid" if form.password_again.errors else ""), type="password") }}<br>
            {% for error in form.password_again.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.name.label(class="form-label") }}<br>
            {{ form.name(class="form-control" + (" is-invalid" if form.name.errors else "")) }}<br>
            {% for error in form.name.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.surname.label(class="form-label") }}<br>
            {{ form.surname(class="form-control" + (" is-invalid" if form.surname.errors else "")) }}<br>
            {% for error in form.surname.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.age.label(class="form-label") }}<br>
            {{ form.age(class="form-control" + (" is-invalid" if form.age.errors else ""), type="number" if form.age.type == 'IntegerField' else "text") }}<br>
            {% for error in form.age.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.city_from.label(class="form-label") }}<br>
            {{ form.city_from(class="form-control" + (" is-invalid" if form.city_from.errors else "")) }}<br>
            {% for error in form.city_from.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.submit(type="submit", class="btn btn-primary") }}
        </div>

        {% if message %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
        {% endif %}
    </form>
{% endblock %}